<html>
  <head>
    <title>ToDo App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: “Product Sans”;
      }

      html {
        background: #e7bb68;
        color: #333333;
        margin-top: 20px;
      }

      .container {
        display: block;
        width: 400px;
        margin: 0 auto;
      }

      h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      ul {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
      }

      li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        list-style-type: none;
      }

      .new-task, .new-Grocery {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 4px;
        border: 1px solid #8c82fc;
      }

      #b1,
      #b2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        border: 1px solid #8c82fc;
        background: #fff;
        color: #8c82fc;
        border-radius: 40px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.35s;
      }


      button:hover {
        background: #8c82fc;
        color: #fff;
      }

      button span {
        opacity: 1;
        visibility: visible;
        transition: all 0.35s;
      }

    </style>
  </head>

  <body>
    <div class="container">
      <h2>ToDo List App</h2>
      <form action="/addtask" method="POST">
        <input
          class="new-task"
          type="text"
          name="newtask"
          placeholder="add new task"
        />
        <button id="b1">Add Task</button>
        <h2>Add Task</h2>
        <% for( var i = 0; i < task.length; i++){ %>
        <li>
          <input type="checkbox" name="check" value="<%= task[i] %>" /> <%=
          task[i] %>
        </li>
        <% } %>
        <button id="b2" formaction="/removetask" type="submit" id="top">
          Remove
        </button>

        
      
      </form>

      <form action="/addGroceryItem" method="POST">
        <input
          class="new-Grocery"
          type="text"
          name="newGrocery"
          placeholder="add new grocery item"
        />
        <button id="b2">Add Grocery item</button>

        <h2>Grocery list</h2>
        <% for( var i = 0; i < groceryList.length; i++){ %>
        <li>
          <input type="checkbox" name="check" value="<%= groceryList[i] %>" /> <%=
          groceryList[i] %>
        </li>
        <% } %>
        <button id="b2" formaction="/removeGrocery" type="submit" id="top">
          Remove
        </button>

      </form>

      <h2>Completed task</h2>
      <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked /><%= complete[i] %></li>
      <% } %>
      
    </div>
  </body>
</html>
